{% extends "academiy/layout.html" %}
{% load static %}

{% block stili %}<link rel="stylesheet" href="{% static 'academiy/css/profile.css' %}">{% endblock %}

{% block body %}
    <div class="container">
        <h1>Привет <span>{{ user.username }}</span> !</h1>
        <hr>
        <br>
        {% if user_info.score == 0 %}
            <a href='{% url "academiy:testing" %}'> Пройдите тирования <a>
        {% else %}
            <h3> Ваш уровень здания : <span>{{ user_status }}</span> ! Пройти <span><a  href='{% url "academiy:testing" %}' style="color: rgb(61, 179, 140);text-decoration: none;">тестирование</a></span> заново</h3>
        {% endif %}
        <div class="row">
            <div class="col"><h5>Ваш курсы :<h5>
                {% for curs in user_courses %}
                    <a href='{% url "academiy:full" curs.course.id %}' style="color: rgb(61, 179, 140);text-decoration: none;">{{ curs.course.title }}</a>
                    <br>
                {% endfor %}
            </div>
            <div class="col">
                <h5>Ваши результаты :</h5>
                {% for curs in user_courses %}
                    <h6> Пройдён {{ curs.score }}</h6>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div>
            <a href='{% url "academiy:logout" %}'>выйти</a>

        </div>
    </div>
{% endblock %}